
.center-board {
    position: absolute;
    left: 25%;
    top: 20%;
    width: 50%;
    text-align: center;
    font-size: 18px;
  }

.game-container{
  position: relative;
}

.full-board{
  margin: 0 auto;
  background: #800020;
  background-image: url('../field.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1200px;
  height: 600px;
}

.board-text{
  color: white;
}

.position-1{
  position: absolute;
  left: 20%;
  top: 68%;
  width: 40%;
  text-align: center;
  font-size: 18px;
}


.position-2{
  position: absolute;
  left: 45%;
  top: 68%;
  width: 40%;
  text-align: center;
  font-size: 18px;
}

.position-3{
  position: absolute;
  left: 65%;
  top: 50%;
  width: 40%;
  text-align: center;
  font-size: 18px;
}

.position-4{
  position: absolute;
  left: 65%;
  top: 0%;
  width: 40%;
  text-align: center;
  font-size: 18px;
}

.position-5{
  position: absolute;
  left: -5%;
  top: 0%;
  width: 40%;
  text-align: center;
  font-size: 18px;
}

.position-6{
  position: absolute;
  left: -5%;
  top: 50%;
  width: 40%;
  text-align: center;
  font-size: 18px;
}

/*input, textarea{
    background-color:#666;
    color: #FFF;
}*/

.player-stats {
  color: #FFF;
  font-size: 14px;
}

.message-box{
  overflow: auto;
  background-color: white;
  border: 3px solid black;
  position: absolute;
  left: 0%;
  top: 98%;
  width: 29%;
  height: 20%
}

.message{
  position:absolute;
  /*border: 2px solid black;*/
  top: 118%;
  width: 130%;
  left: 0%;
}

.message-text{
  margin-left: 0;
}

.message-ul{
  padding: 0;
  margin: 0;
}
