
.center-board {
    position: absolute;
    left: 25%;
    top: 12%;
    width: 50%;
    text-align: center;
    font-size: 18px;
  }

.game-container{
  position: relative;
}

.full-board{
  margin: 0 auto;
  background: #800020;
  background-image: url('../PokerTable.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1200px;
  height: 600px;
}

.board-text{
  color: white;
}

.position-1{
  position: absolute;
  left: 30%;
  top: 65%;
  width: 14%;
  text-align: center;
  font-size: 18px;
}


.position-2{
  position: absolute;
  left: 55%;
  top: 65%;
  width: 14%;
  text-align: center;
  font-size: 18px;
}

.position-3{
  position: absolute;
  left: 80%;
  top: 50%;
  width: 14%;
  text-align: center;
  font-size: 18px;
}

.position-4{
  position: absolute;
  left: 80%;
  top: 0%;
  width: 14%;
  text-align: center;
  font-size: 18px;
}

.position-5{
  position: absolute;
  left: -5%;
  top: 0%;
  width: 14%;
  text-align: center;
  font-size: 18px;
}

.position-6{
  position: absolute;
  left: -5%;
  top: 50%;
  width: 14%;
  text-align: center;
  font-size: 18px;
}

/*input, textarea{
    background-color:#666;
    color: #FFF;
}*/

.player-stats {
  color: #FFF;
  font-size: 14px;

}

.message-box{
  overflow: scroll;
  background-color: white;
  left: 1%;
  top: 85%;
  width: 100%;
  height: 90%;
}


.message-input{
  position:absolute;
  width: inherit !important;
  bottom: -20%;
}

.message{
  left: 1%;
  width:100%;
  top: 105%;
}

.message-text{
  margin-left: 1px;
}

.message-ul{
  padding: 1px;
  margin: 1px;
}

.find-games{
  background: #800020;
}

.player-now{
  position: relative;
  border: 3px solid red;
  width: 110px;
  left: 24%;
  text-align: center;
}

.message-container{
  /*overflow: scroll;*/
  width: 30%;
  background-color: white;
  border: 3px solid black;
  position: relative;
  height:150px;
  bottom: -87%;
  left: -9%;
}

.action-buttons{
  margin-right: 5px;
}

.board-inputs{
  margin: 5px;
}

.all-games-padding{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.dlr-btn{
  position:absolute;
  left: -5%;
  bottom: 74%;
}

.hand-solve{
  background: rgba(0, 0, 0, 0.5);
  width: inherit;
  text-align: center;
}

.player-hand{
  width: 200px;
  text-align: center;
}
